.FavoritesButtonBg {
    padding-left: 25px;
    padding-top: 10px;
    width: 76px;
    height: 19px;
    cursor: pointer;
}

.FavoritesButtonBgActive {
    height: 47px;
    width: 133px;
    background: #F0F3F5;
    border-radius: 30px;
    padding-left: 25px;
    padding-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 144.2%;
}

.item a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 144.2%;
    color: #BBBBBB !important;
    text-decoration: none  !important;;
}

.ActiveItem a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 144.2%;
    color: #4F4F4F !important;
    text-decoration: none  !important;
}

.FavoritesText{

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 144.2%;
    color: #1E1E1E
}
.NoFavoritesIssuesContainer {
    padding-top: 50px;
    padding-left: 96px;
}