.AllButtonBgActive {
    width: 80px;
    height: 44px;
    border-radius: 20px;
    background: #f9f9f9;
    box-shadow: 0 1px 1px -.5px rgba(0, 0, 0, .2);
}

.AllButtonBg {
    cursor : default;
    width: 79px;
    height: 47px;
}
.item a {
    margin-top: 10px;
    margin-left: 27px;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 144.2%;
    color: #646767 !important;
    text-decoration: none  !important;
}

.ActiveItem a {
    margin-top: 10px;
    margin-left: 27px;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 144.2%;
    color: #007bff !important;
    text-decoration: none  !important;
}

