.modal{
    z-index : 9999;
    position : absolute;
    top : 50%;
    left : 50%;
    width: 480px;
    height: 230px;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    padding : 15px;
    border-radius : 10px;
    transform : translate(-50%, -50%);
    background : #FFFFFF;
}
.bg {
    z-index: 9998;
    background: rgba(41, 41, 41, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ModalTextContainer{
    padding-left: 33px;
    padding-top: 30px;
    margin-right: 20px;
    font-family: Roboto,serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 144.2%;
    color: #1E1E1E
}

.NewWorklogControlButtonsContainer {
    padding-top: 64px;
    padding-left: 145px;
    width: 117px;
}

.NewWorklogControlButtons {
    width: 117px;
    height: 46px;
    display: inline-flex;
}

.NewWorklogSubmitButtonSize {

}

.NewWorklogControlButton {
    margin-top: 9.3px;
    padding-left: 27px;
}