.SummaryWorklogInfo {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /*grid-template-columns: repeat(auto-fill, minmax(898px,600px));*/
    /*display: grid;*/
    /*grid-template-columns: 899px 101px 85px;*/
    /*grid-template-rows: 50px;*/
}

.DateBlockContainer {
    width: 255px;
    height: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 144.2%;
    color: #1E1E1E;
}


.DownloadIcon {
    align-self: center;
    /*margin-left: 47px;*/
}

.statusContainer {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    /*display: grid;*/
    /*!*grid-template-columns: repeat(auto-fill, minmax(100px, 100px));*!*/
    /*align-self: center;*/
}

.DateTime {

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 144.2%;
    color: #5d5d5d;
}

/******************************* Progress bar ********* */
.Progress {
    margin-top: 8px;
    position: relative;
    width: 100px;
    height: 6px;
}


.WLlineStrokeContainer {
    margin-top: 34px;
    width: 100%;
}

@media (max-width: 768px) {
    .SummaryWorklogInfo{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .statusContainer{
        padding-top: 20px;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;

    }
}