.Container{
    margin-top: 10px;
    left : 1100px;
    position: absolute;
    width: 169px;
    height: 192px;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(216, 226, 232, 0.12);
    border-radius: 10px;
    transition: .3s ease-in-out linear;
    z-index: 200;
}

.ContentContainer{
    margin-top: 23px;
}
.ContainerEl{
    cursor: pointer;
    padding-top: 20px ;
    padding-left:32px;
    font-family: Roboto,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 144.2%;
    color: #4F4F4F;
}
.ContainerEl:hover{

    background: #E3F3FF;
}
.ContainerFirstEl{
    cursor: pointer;
    padding-top: 5px ;
    padding-left:32px;
    font-family: Roboto,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 144.2%;
    color: #4F4F4F;
}
.ContainerFirstEl:hover{
    background: #E3F3FF;
}