

@font-face {
    font-family: 'Roboto', serif;
    src: url(./assets/roboto/Roboto-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
.appWrapper{
    font-family: "Roboto",serif;
}
.MainWrapper {
    display: grid;
    /*grid-template-columns: 1296px 624px;*/
    grid-template-columns: 70% 30%;
    padding-bottom: 10rem;
}

.CalendarAndButtonsContainer {
    padding-top: 52px;
    padding-left: 96px;
}

.CalendarAndButtons {
    display: grid;
    grid-template-columns: 2.1fr 1fr 1fr;
    grid-template-rows: 58px;
}

.TImeTracking_and_Calendar {
    display: grid;
    grid-template-rows: 363px 497px;
}
.AppContainer{
    overflow: hidden;
    background-color: #E5E5E5;
}
.PathErr {
    position: fixed;
    top : 50%;
    left : 50%;
}

@media (max-width: 1500px) {
    .AppContainer {
        font-family: 'Roboto', serif;
    /*    width: 1920px;*/
        overflow: initial;
    }
}
@media (max-width: 768px) {
    .MainWrapper{
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}
@media (max-width: 480px) {
    .CalendarAndButtons{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}