.modal{
    z-index : 9999;
    position : absolute;
    top : 50%;
    left : 50%;
    width: 450px;
    box-shadow: 0 5px 10px -.5px rgba(5, 2, 40, 0.5);
    padding : 15px;
    border-radius : 10px;
    transform : translate(-50%, -50%);
    background : #fff;
}
